/* ==========================================================================
   Steven Jackson custom styles
   ========================================================================== */
 .container {
    max-width: 980px;
}


section.more-about-me {display: none;}
div.row.history {display: none;}
div.languages.languages-used {display: none;}
div.languages.languages-familiar {display: none;}
div.languages.languages-interest {display: none;}








