<aside id="sideBar">
            <ul class="main-nav">
                <!-- Your Logo Or Site Name -->
                <li class="nav-brand">
                    <a href="#">Steven Jackson</a>
                </li>
                <!-- Search -->
               
                <li>
                    <a href="#/home">Home</a>
                </li>
                <li>
                    <a href="#/about">About me</a>
                </li>
                <li>
                    <a href="#/experience">Experience</a>
                </li>
                <li>
                    <a href="#/profile">Profile Links</a>
                </li>
                <li>
                    <a href="#/employment">Employment History</a>
                </li>
                <li>
                    <a href="#/references">References</a>
                </li>
                <li>
                    <a href="#/contact">Contact Details</a>
                </li>
               
            </ul>
        </aside>