<h1>About me</h1>
<hr>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">

        <blockquote>    
          <div class="objective-wrapper">
            <h2>Traits</h2>
            Attention to detail <br>
            Numerical <br>
            Structured<br>
            Quick Learner/Study<br>
            Smart Worker<br>
            Self-Disciplined<br>
            Document Orientated<br>
            Logical<br>
            Adaptive<br>
            Open minded
        </div>
    </blockquote>
</div>


<div class="col-xs-12 col-sm-6 col-md-4">
    <blockquote>	
      <div class="education-wrapper">
        <h2>Education</h2>
        Varsity College <br>
        Diploma — 2008 <br>                                                                                                                          
        Diploma in Information Technology <br>(Software Development) <br><br>
        <span class="more-about-me-subheading">Matric:</span><br>
        Northlink College<br>
        Certificate — 2005/2006   <br>                                                                                                                     
        Certificate supplied on request
    </div>
</blockquote>	

</div>

<div class="col-xs-12 col-sm-6 col-md-4">


    <blockquote>

      <div class="summary-wrapper">
        <h2> Hobbies</h2>
        Anime <br>
        Coding<br>
        Gaming<br>
        Researching
    </div>
</blockquote>
</div>

</div>

<hr>

<h2>Documents</h2><br>

<div class="row download-links">   

    <a href="downloads/resume-steven-jackson.pdf" target="_blank">
        <div class="col-md-2 text-center"><div class="panel panel-default">
          <div class="panel-body">
          <i class="fa fa-file-image-o"></i><br>
            Resume - PDF
        </div>
    </div>
</div>

<a href="downloads/resume-steven-jackson.docx" target="_blank">
    <div class="col-md-2 text-center"><div class="panel panel-default">
      <div class="panel-body">
      <i class="fa fa-file-word-o"></i><br>
        Resume - Docx
    </div>
</div>
</div>
</a>

<a href="downloads/diploma.png" target="_blank">
    <div class="col-md-2 text-center"><div class="panel panel-default">
      <div class="panel-body">
      <i class="fa fa-file-image-o"></i><br>
        Diploma - PNG
    </div>
</div>
</div>
</a>

<a href="downloads/diploma-results.pdf" target="_blank">
    <div class="col-md-2 text-center"><div class="panel panel-default">
      <div class="panel-body">
      <i class="fa fa-file-pdf-o"></i><br>
        Results - PDF
    </div>
</div>
</div>
</a>

<a href="downloads/matric.pdf" target="_blank">
    <div class="col-md-2 text-center"><div class="panel panel-default">
      <div class="panel-body">
      <i class="fa fa-file-pdf-o"></i><br>
        Matric - PDF
    </div>
</div>
</div>
</a>

<a href="downloads/skills-matrix-steven-jackson.pdf" target="_blank">
    <div class="col-md-2 text-center"><div class="panel panel-default">
      <div class="panel-body">
      <i class="fa fa-file-pdf-o"></i><br>
          Skills Matrix - PDF
      </div>
  </div>
</div>
</a>

</div>


<hr>