<h1>Employment History</h1>
<hr>

<h3><a href="http://www.roidigital.co.za/" target="_blank">ROI Digital</a></h3>
<br>
<div class="employment" >
	<blockquote  class="skin">
		<strong>Junior Developer</strong><br>
		ROI Digital <br>
		Cape Town <br>
		Duration: April 2012 till June <br><br>

		<strong>Responsibilities:</strong> <br>Senior Developer and I.T Manager<br><br>

		<p >Click to view my Responsibilities</p>
	</blockquote>

	<hr>

	<div class="trigger">


		<strong>Responsibilities</strong>
		<br> > Build and testing / QA of email newsletters and websites (e-commerce focused)
		<br> > Accountable for building and sending mailers, QA and sign off from designer and project owner before distribution
		<br> > Create, build and manage assets for the websites and affiliate sites including homepage, category banners, competition pages
		<br> > Keep up to date with email best practice and work with Content Manager to implement changes
		<br> > Maintain consistent look and feel across the websites
		<br> > Understand and contribute to usability best practice in site navigation and emails
		<br> > Build assets and apps for social networking sites as required
		<br> > Ensuring the look and feel of the site follows the brand guidelines
		<br> > Development / Coding of landing pages and Websites (CS Cart and Wordpress)
		<br> > Draft business requirements and technical specs that are robust and meet the needs of client and developers
		<br> > Responsible for specifications and outsource developer liaison (focus on CS-Cart and other)
		<br> > Responsible for delivery of web development and e-commerce development projects within scope, budget and time
		<br> > Manage all Project related documentation
		<br> > Interrogate all requirements and ensure the best solution is provided to clients
		<br> > Establish strong relationships with outsource partners
		<br> > Run multiple medium to large projects concurrently and independently
		<br> > Reports to the Management, providing regular input on all account activity, including status and reports on a weekly basis.
		<br> > Research new technologies in the realm of web development
		<br> > Ensure project post-mortems take place and that each project is better than the last (implement quality improvements)
		<br> > Time tracking (billable and non-billable)
		<br> > Continued increased performance of clients against objectives
		<br> > Upsell clients and web services
		<br> > Ensure profit targets are reached per dev project (ensure that the project is delivered in scope, time, budget and quality standards) 
		<br> > Assist with IT handover and training new IT staff member
		<br> > Adhoc development responsibilities as and when required
		<br> > Training departments in a the basics of Web Development process and functions
		<br> > Clearly defining the problem via illustrations and simplied explanantions
		<br> > Very Detailed technical instructions written for other companies developer.
		<br> > Documented Tutorials for clients and the use of their CMS
		<br> > Fixing department specific problems (SEO, PPC, Social Media)
		<br> > Training clients in the use of their CMS via illustrations
		<br> > Reviewing CV's of potential canditates for IT and Development departments.
		<br> > Interviews with potential canditates for IT and Development departments.
		<br> > Managerial Meetings in regards to both IT and Development departments
	</div>


</div>

<hr>


<div class="employment">
	
	<blockquote  class="skin">
		<strong>IT Technician/Junior Developer</strong><br>
		ROI Digital <br>
		Cape Town <br>
		Duration: July 2012 till August 2014<br><br>

		<p>Click to view my Responsibilities</p>
	</blockquote>
	

	<div class="trigger">
		<strong>Responsibilities</strong>
		<br> > Repairing and Replacing PC's
		<br> > Setting up Pc’s for new Users as well as company logins
		<br> > Testing sites
		<br> > General I.T. Issues
		<br> > Setting up User Accounts
		<br> > Full updated Audit sheet
		<br> > Updated Uniform Hosting Sheet
		<br> > Setting up sites on Development environment
		<br> > Testing hardware
		<br> > Contacting suppliers for replacement stock and repairs
		<br> > Backing up and Restoring Site on a new Ftp
		<br> > Updating, inserting content and editing sites using CSS, LESS, Html, PHP, Smarty HTML
		<br> > Control over Firewall and NAS drive (Vault)
		<br> > Monthly Backups of Websites and Vault
		<br> > Removal of ex-employees
		<br> > Hosting and Hosting related issues
		<br> > Internal issues
	</div>



</div>


</div>

<hr>