<h1>Employment History</h1>
<hr>


<!-- Languages -->
<div class="experience" >
  <blockquote  class="skin">
    <strong>Languages</strong><br>

    <p >Click to view my Responsibilities</p>
  </blockquote>

  <hr>

  <div class="trigger">
<div class="row">
            <div class="panel col-xs-6 col-sm-3 col-md-3 ">
              <div class="panel-body ">
                <img src="img/experience/html.png" class="img-responsive" alt="">
              </div>
              <div class="skill-level">
              Moderate Experience<br>
              18 Months

              </div>
            </div>

            <div class="panel col-xs-6  col-sm-3 col-md-3 ">
              <div class="panel-body">
               <img src="img/experience/css.png" class="img-responsive" alt="">
             </div>
             <div class="skill-level"> Moderate Experience<br>
              12 Months</div>
           </div>

           <div class="panel  col-xs-6 col-sm-3 col-md-3">
            <div class="panel-body">
             <img src="img/experience/javascript.png" class="img-responsive" alt="">
           </div>
           <div class="skill-level"> Moderate Experience<br>
              6 Months</div>
         </div>

<div class="panel  col-xs-6  col-sm-3 col-md-3">
        <div class="panel-body">
         <img src="img/experience/php.png" class="img-responsive" alt="">
       </div>
       <div class="skill-level"> Moderate Experience<br>
              8 Months</div>
     </div>

     </div>

<div class="row">

      

     <div class="panel  col-xs-6  col-sm-3 col-md-3">
      <div class="panel-body">
       <img src="img/experience/mysql.png" class="img-responsive" alt="">
     </div>
     <div class="skill-level"> Minimal Experience<br>
              1 Months</div>
   </div>


</div>

</div>

</div>
<!--  End Languages -->

<!-- CMS's -->
<div class="experience" >
  <blockquote  class="skin">
    <strong>CMS's</strong><br>

    <p >Click to view my Responsibilities</p>
  </blockquote>

  <hr>

  <div class="trigger">
<div class="row">
  <div class="panel col-xs-6 col-sm-6 col-md-3 ">
    <div class="panel-body ">
      <img src="img/cms/wordpress.png" class="img-responsive" alt="">
    </div>
    <div class="skill-level">  Moderate Experience<br>
              8 Months</div>
  </div>

  <div class="panel col-xs-6 col-sm-6 col-md-3 ">
    <div class="panel-body ">
      <img src="img/cms/cscart.png" class="img-responsive" alt="">
    </div>
    <div class="skill-level">  Minimal Experience<br>
              6 Months</div>
  </div>

<div class="panel col-xs-6 col-sm-3 col-md-3 ">
      <div class="panel-body ">
        <img src="img/cms/concrete.png" class="img-responsive" alt="">
      </div>
      <div class="skill-level basic"> Limited Experience<br>
              1 Month</div>
    </div>


<div class="panel  col-xs-6 col-sm-3 col-md-3">
    <div class="panel-body">
     <img src="img/cms/ee.png" class="img-responsive" alt="">
   </div>
   <div class="skill-level basic"> Limited Experience<br>
              1 Month</div>
 </div>


</div>


<div class="row">
  <div class="panel col-xs-6  col-sm-3 col-md-3">
  <div class="panel-body">
   <img src="img/cms/joomla.png" class="img-responsive" alt="">
 </div>
 <div class="skill-level basic"> Limited Experience<br>
              1 Month</div>
</div>


<div class="panel  col-xs-6  col-sm-3 col-md-3">
    <div class="panel-body">
     <img src="img/cms/magento.png" class="img-responsive" alt="">
   </div>
   <div class="skill-level basic"> Limited Experience<br>
              1 Month</div>
 </div>


</div>

</div>
 
</div>

<!-- End CMS's -->


<!-- Frameworks -->
<div class="experience" >
  <blockquote  class="skin">
    <strong>Frameworks</strong><br>

    <p >Click to view my Responsibilities</p>
  </blockquote>

  <hr>

  <div class="trigger">
<div class="row">
           
         <div class="panel col-xs-6  col-sm-3 col-md-3">
          <div class="panel-body">
           <img src="img/frameworks/jquery.png" class="img-responsive" alt="">
         </div>
         <div class="skill-level"> Moderate Experience<br>
              4 Months</div>
       </div>



 <div class="panel col-xs-6 col-sm-6 col-md-3 ">
    <div class="panel-body ">
      <img src="img/frameworks/bootstrap.png" class="img-responsive" alt="">
    </div>
    <div class="skill-level"> Moderate Experience<br>
              12 Months</div>
  </div>

  <div class="panel col-xs-6 col-sm-6 col-md-3 ">
    <div class="panel-body ">
      <img src="img/frameworks/foundation.png" class="img-responsive" alt="">
    </div>
    <div class="skill-level"> Limited Experience<br>
              1 Month</div>
  </div>

  <div class="panel col-xs-12 col-sm-6 col-md-3 ">
    <div class="panel-body ">
      <img src="img/frameworks/angular.png" class="img-responsive" alt="">
    </div>
    <div class="skill-level inprogress"> Limited Experience<br>
              1 Month</div>
  </div>

     </div>

<div class="row">
           
         <div class="panel col-xs-6  col-sm-3 col-md-3">
          <div class="panel-body">
           <img src="img/frameworks/ionic.png" class="img-responsive" alt="">
         </div>
         <div class="skill-level"> Limited Experience<br>
              1 Month</div>
       </div>


     </div>


</div>



   
</div>

</div>

<!-- End Frameworks -->

<!-- Tools -->
<div class="experience" >
  <blockquote class="skin">
    <strong>Tools</strong><br>

    <p >Click to view my Responsibilities</p>
  </blockquote>

  <hr>

  <div class="trigger">

  <div class="row">
    <div class="panel col-xs-6 col-sm-3 col-md-3 ">
      <div class="panel-body ">
        <img src="img/tools/git.png" class="img-responsive" alt="">
      </div>
      <div class="skill-level"> Moderate Experience<br>
              2 Months</div>
    </div>

    <div class="panel col-xs-6  col-sm-3 col-md-3 ">
      <div class="panel-body">
       <img src="img/tools/github.png" class="img-responsive" alt="">
     </div>
     <div class="skill-level"> Moderate Experience<br>
              4 Months</div>
   </div>

   <div class="panel  col-xs-6 col-sm-3 col-md-3">
    <div class="panel-body">
     <img src="img/tools/sublime.png" class="img-responsive" alt="">
   </div>
   <div class="skill-level"> Moderate Experience<br>
              16 Months</div>
 </div>

 <div class="panel col-xs-6  col-sm-3 col-md-3">
  <div class="panel-body">
   <img src="img/tools/photoshop.png" class="img-responsive" alt="">
 </div>
 <div class="skill-level"> Limited Experience<br>
              6 Months</div>
</div>

</div>

<div class="row">

  <div class="panel  col-xs-6  col-sm-3 col-md-3">
    <div class="panel-body">
     <img src="img/tools/filezilla.png" class="img-responsive" alt="">
   </div>
   <div class="skill-level"> Moderate Experience<br>
              12 Months</div>
 </div>

 <div class="panel  col-xs-6  col-sm-3 col-md-3">
  <div class="panel-body">
   <img src="img/tools/chrome.png" class="img-responsive" alt="">
 </div>
 <div class="skill-level"> Moderate Experience<br>
              24 Months</div>
</div>


<div class="panel  col-xs-6  col-sm-3 col-md-3">
  <div class="panel-body">
   <img src="img/tools/edge.png" class="img-responsive" alt="">
 </div>
 <div class="skill-level"> Moderate Experience<br>
              5 Months</div>
</div>

<div class="panel  col-xs-6  col-sm-3 col-md-3">
  <div class="panel-body">
   <img src="img/tools/win-10.png" class="img-responsive" alt="">
 </div>
 <div class="skill-level"> Moderate Experience<br>
              12 Months</div>
</div>

</div>




</div>

</div>

<!-- End Tools -->

<hr>