<h1>Steven Jackson</h1>
<h3>"Do it Once, Do it Right!"</h3>
<hr>    
<div class="row">   
    <div class="col-md-5 col-lg-3 col-sm-3">  
        <img src="../img/steven-jackson.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-5 col-lg-5">  
        <h2>Objective</h2>
        To become extremely proficient in as many languages, 
        platforms and frameworks as possible and work internationally. 
        I will do anything to achieve these goals. <br><br>
        I have the capability of learning any language or framework. <br><br>


        <h2>Summary</h2>
        Fullname: Steven Daniell Jackson <br> 
        Date of birth: 02/11/1988 <br>
        Nathionality: South African <br>
        Health: Excellent <br>
        Home language:  English <br>
        Employment equity:  White Male <br>
        Personality type: <a href="http://www.16personalities.com/intj-personality" target="_blank">INTJ</a>
    </div>

</div>

<hr>    

<h2>Quick links</h2><br>

<div class="row">   
<a href="#/about">
    <div class="col-md-2 text-center"><div class="panel panel-default">
      <div class="panel-body">
        About me
    </div>
</div>
</div>
</a>

<a href="#/experience">
<div class="col-md-2 text-center"><div class="panel panel-default">
  <div class="panel-body">
    Experience
</div>
</div>
</div>
</a>

<a href="#/profile">
<div class="col-md-2 text-center"><div class="panel panel-default">
  <div class="panel-body">
    Profiles
</div>
</div>
</div>
</a>

<a href="#/employment">
<div class="col-md-2 text-center"><div class="panel panel-default">
  <div class="panel-body">
    Employment
</div>
</div>
</div>
</a>

<a href="#/references">
<div class="col-md-2 text-center"><div class="panel panel-default">
  <div class="panel-body">
    References
</div>
</div>
</div>
</a>

<a href="#/contact">
<div class="col-md-2 text-center"><div class="panel panel-default">
  <div class="panel-body">
    Contact
</div>
</div>
</div>
</a>

</div>







<hr>    