<h1>Profile Links</h1>
<hr>

<section class="profile-links">
  <h2>
   Profiles
 </h2>
 <div class="row col-md-12">
  <div class="panel panel-default col-md-3 text-center">

<a href="https://za.linkedin.com/pub/steven-jackson/b3/978/199" target="_blank">
    <div class="panel-body">
      <i class="fa fa-linkedin-square"></i><br>
      LinkedIn
    </div>
  </div>
  </a>

<a href="https://github.com/steven-daniell-jackson" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
      <i class="fa fa-github-square"></i><br>
      Github
    </div>
  </div>
</a>

<a href="https://docs.google.com/spreadsheets/d/1s7Or_0nZ1YYS3KibGAVgGdPnjmqB6iYWQPnXvEVpUmw/edit?usp=sharing" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
     <i class="fa fa-google"></i> <i class="fa fa-hdd-o"></i><br>
     Google Drive
   </div>
 </div>
</a>

<a href="http://steven-daniell-jackson.github.io/screenshot_portfolio/" target="_blank">
<div class="panel panel-default col-md-3 text-center">
  <div class="panel-body">
    <i class="fa fa-picture-o"></i><br>
    Screenshot Portfolio (old)
  </div>
</div>

</a>
</section>



<section class="profile-links">

  <h2>
   Projects
 </h2>
 <div class="row col-md-12">
  <div class="panel panel-default col-md-3 text-center">

<a href="http://steven-daniell-jackson.github.io/mobile-resume-ionic" target="_blank">
    <div class="panel-body">
      <i class="fa fa-cog"></i><br>
      Resume - Mobile 
    </div>
  </div>
  </a>

<a href="http://steven-daniell-jackson.github.io/diary/#/home" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
      <i class="fa fa-cog"></i><br>
      Diary - Desktop
    </div>
  </div>
</a>

<a href="http://steven-daniell-jackson.github.io/diary-ionic/" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
     <i class="fa fa-cog"></i> <br>
     Diary - Mobile
      </div>
 </div>
</a>

<a href="http://steven-daniell-jackson.github.io/angular-projects/#/home" target="_blank">
<div class="panel panel-default col-md-3 text-center">
  <div class="panel-body" data-trigger="porfolio">
    <i class="fa fa-cog"></i><br>
    Angular Projects
  </div>
</div>
</a>
</div>
<div class="row col-md-12">
  <div class="panel panel-default col-md-3 text-center">

<a href="http://steven-daniell-jackson.github.io/resume-js/" target="_blank">
    <div class="panel-body">
      <i class="fa fa-cog"></i><br>
      Mostly JS version of my Resume
    </div>
  </div>
  </a>

  <a href="http://steven-daniell-jackson.github.io/resume-single-page/" target="_blank">
<div class="panel panel-default col-md-3 text-center">
  <div class="panel-body">
    <i class="fa fa-cog"></i><br>
    Single Page Resume
  </div>
</div>
</a>


<a href="https://github.com/steven-daniell-jackson/csv_validator" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
      <i class="fa fa-file-code-o"></i><br>
      Source files - CSV Validator
    </div>
  </div>
</a>

<a href="https://github.com/steven-daniell-jackson/cscart_csv_validator" target="_blank">
  <div class="panel panel-default col-md-3 text-center">

    <div class="panel-body">
     <i class="fa fa-file-code-o"></i> <br>
     Source files - CSV Validator(CS Cart)
   </div>
 </div>
</a>

</div>

</section>
<hr>

<h2>Badges/Online course</h2>

<div class="row">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/html.jpg" target="_blank">
                    <img class="img-responsive" src="img/badges/html.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/css.jpg" target="_blank">
                    <img class="img-responsive" src="img/badges/css.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/js.jpg" target="_blank">
                    <img class="img-responsive" src="img/badges/js.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/php.jpg" target="_blank">
                    <img class="img-responsive" src="img/badges/php.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/sql.jpg" target="_blank">
                    <img class="img-responsive" src="img/badges/sql.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/java.jpg" target="_blank">
                    <img class="img-responsive" src="img/badges/java.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/cplusplus.jpg" target="_blank">
                    <img class="img-responsive" src="img/badges/cplusplus.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/testdome.png" target="_blank">
                    <img class="img-responsive" src="img/badges/testdome.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="img/badges/testdome-1.png" target="_blank">
                    <img class="img-responsive" src="img/badges/testdome-1.png" alt="">
                </a>
            </div>
         
<hr>
<!-- 
<div class="row">
<div class="col-lg-12">
	
		<p><strong>Profiles:</strong><br>
			Linkedin: <a href="https://za.linkedin.com/pub/steven-jackson/b3/978/199">https://za.linkedin.com/pub/steven-jackson/b3/978/199</a><br>
			Github link: <a href="https://github.com/steven-daniell-jackson">https://github.com/steven-daniell-jackson/</a><br>
			Online Resume: <a href="http://steven-daniell-jackson.github.io/">http://steven-daniell-jackson.github.io/</a><br>
			Documented Portfolio: <a href="https://docs.google.com/spreadsheets/d/1s7Or_0nZ1YYS3KibGAVgGdPnjmqB6iYWQPnXvEVpUmw/edit?usp=sharing">Google sheets</a><br>
			Screenshot Portfolio: <a href="http://steven-daniell-jackson.github.io/screenshot_portfolio/">http://steven-daniell-jackson.github.io/screenshot_portfolio/</a><br>
			Angular Screenshot Portfolio(Experiment):<a href="http://steven-daniell-jackson.github.io/screenshot_portfolio_app">http://steven-daniell-jackson.github.io/screenshot_portfolio_app/</a>
		</p>

		<p><strong>Other projects:</strong><br>
			<a href="http://steven-daniell-jackson.github.io/resume-js/">Mostly JS version of my Resume</a><br>
			<a href="https://github.com/steven-daniell-jackson/csv_validator">Source files for my Client CSV Validator</a><br>
			<a href="https://github.com/steven-daniell-jackson/cscart_csv_validator">Source files for my Client CSV Validator(CS Cart)</a><br>
		</p>

	</div>
</div>
	<hr> -->