<h1>References</h1>
<hr>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-offse col-md-12 ">

  <blockquote>
    Dawie Geldenhuys <br>(Previous I.T Manager) <br>073 549 1882
  </blockquote>

  <blockquote>
    Ryan Minnar <br>(Previous Head of Project Management) <br>083 650 5547
  </blockquote>

  <blockquote>
    Ashraf Slamang <br>(Previous Lead Developer) <br>083 883 0930
  </blockquote>

  <blockquote>
    Paul Reich <br>(Previous Project Manager)<br>Freelance Reference<br>083 641 4419
  </blockquote>

</div>
</div>
<hr>